%section
  .box.success
    - random = rand(4)
    - case random
    - when 0
      %img(src="http://placekitten.com/300/#{300 + rand(10)}")
    - when 1
      %img(src="http://1-ps.googleusercontent.com/h/www.catgifpage.com/gifs/224.gif.pagespeed.ce.8Ox__cf1NE.gif")
    - when 2
      %img(src="http://1-ps.googleusercontent.com/h/www.catgifpage.com/gifs/223.gif.pagespeed.ce.74u-hdg7bt.gif")
    - when 3
      %img(src="http://stream1.gifsoup.com/view/437149/roomba-kittens-o.gif")
    EVERYTHING IS GOOD IN THE WORLD AND EVERYTHING IS PASSING
