%section
  %h2 Broken
  %img(src=random_bad_image)
  - @broken_projects.each do |project|
    .box.failure
      = project.name
      .status
        = "Broken for #{project.builds_since_last_success} build#{project.builds_since_last_success != 1 ? 's' : ''}"
