!!! 5
%html
  %head
    %meta(http-equiv="refresh" content="30")
    %link(rel="stylesheet" href="index.css")
  %body
    .container
      .column
        - unless @broken_projects.empty?
          %section
            %h2 Broken
            - @broken_projects.each do |project|
              .box.failure
                = project.name
        .box.time
          = @display_time
      .column
        - unless @in_progress_projects.empty?
          %section
            %h2 In progress
            - @in_progress_projects.each do |project|
              .box.in-progress
                = project.name
      .column
        %section
          %h2 Recent
          - @recently_built_projects.each do |project|
            .box.recent{class: project.latest_complete_build.result.to_s}
              = project.name
