!!! 5
%html
  %head
    %meta(http-equiv="refresh" content="30")
    %link(rel="stylesheet" href="index.css")
  %body
    .container
      - unless @broken_projects.empty?
        %section
          %h2 Borked
          - @broken_projects.each do |project|
            .box.failure
              = project.name
      - unless @in_progress_projects.empty?
        %section
          %h2 In progress
          - @in_progress_projects.each do |project|
            .box.in-progress
              = project.name
      %section
        %h2 Recent
        - @recently_built_projects.each do |project|
          .box.recent{class: project.latest_complete_build.result.to_s}
            = project.name
      %footer.box.time
        = @display_time
