!!! 5
%html
  %head
    %link(rel="stylesheet" href="index.css")
  %body
    .container
      %section
        %h2 Borked
        - @broken_projects.each do |project|
          .box.broken
            = project.name
      - unless @in_progress_projects.empty?
        %section
          %h2 In progress
          - @in_progress_projects.each do |project|
            .box.in-progress
              = project.name
      %section
        %h2 Recent
        - @recently_built_projects.each do |project|
          .box.recent
            = project.name
      %footer.box.time
        = @display_time
