!!! 5
%html
  %head
    %link(rel="stylesheet" href="index.css")
  %body
    .container
      - @broken_builds.each do |build|
        .box.broken
          = build["name"]
      %footer.box.time
        = @display_time
