body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0;
}

footer {
}

section {
  background: #deebf5;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.clear-fix {
  clear: both;
}

.time {
}

.broken {
  border-radius: 10px;
  background: red;
  color: white;
}

.in-progress {
  border-radius: 10px;
  background: orange;
  color: white;
}

.box {
  margin: 20px;
  padding: 20px;
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
}