body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0;
}

section {
  background: #deebf5;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
}

h2 {
  margin: 0;
  padding: 10px;
}

h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
}

.project-requests {
  background: #bdecb6;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: table;
  margin: 10px;
}

li p {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 24px;
}

.container {
  width: 100%;
}

.column {
  width: 33%;
  float: left;
}

.clear-fix {
  clear: both;
}

.box.time {
  color: black;
  font-size: 144px;
}

.box {
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 72px;
  font-weight: bolder;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.success {
  background: green;
}

.in-progress {
  background: orange;
}

.failure,.aborted {
  background: red;
}
