body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0;
}

section {
  background: #deebf5;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
}

h2 {
  margin: 0;
  padding: 10px;
}

.container {
  width: 100%;
}

.column {
  width: 33%;
  float: left;
}

.clear-fix {
  clear: both;
}

.box.time {
  color: black;
  font-size: 144px;
}

.box {
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.success {
  background: green;
}

.in-progress {
  background: orange;
}

.failure,.aborted {
  background: red;
}
